* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100vh;
}

body {
  background-color: rgb(52, 50, 59);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.8vw;
  padding: 2vw;
  color: rgba(255, 255, 255, 0.818);
  background-color: rgb(167, 53, 53);
  margin: 1.4vw;
  border-radius: 15px;
  width: 20vw;
  height: 5vw;
}

#pokemon-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  background-color: rgb(167, 53, 53);
  width: 60vw;
  height: 30vw;
  border-radius: 5px;
  /* transform: rotate(15deg); */
}

#pokemon-image-name{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  color: rgba(255, 255, 255, 0.818);
  border: 1vw solid rgba(255, 255, 255, 0.818);
  background-color: rgb(52, 50, 59);
  height: 28vw;
  width: 27vw;
  margin: 3vw;
  border-radius: 5px;
}

#pokemon-image-name h2 {
  font-size: 2.2vw;
  align-items: center;
  justify-content: center;
  padding-top: 1vw;
}

#pokemon-image-name img {
  display: flex;
  width: 20vw;
  justify-content: center;  
  align-items: center;
}

#pokemon-descriptive-details {
  display: flex;
  width: 27vw;
  height: 28vw;
  align-items: center;
  flex-direction: column; 
  height: 30vw;
  justify-content: space-between;
  padding-right: 2vw;
  margin-right: 1vw;
}

.pokemon-id-description {
  background-color: rgb(52, 50, 59);
  height: 20vw;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vw;
  border-radius: 5px 5px 0 0;
}

.pokemon-id-description span {
  font-size: 2vw;
  padding-top: 2vw;
  color: rgba(255, 255, 255, 0.818);
}

.pokemon-height-weight {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 4vw;
}

.pokemon-height-weight span{
  font-size: 1.5vw;
}

.pokemon-id-description p {
  font-size: 1.4vw;
  font-weight: 600;
  text-align: center;
  padding:0 2vw 3vw;
  color: rgba(255, 255, 255, 0.818);
}

.pokemon-type {
  background-color: rgb(52, 50, 59);
  height: 20vw;
  width: 25vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1vw;
  border-radius: 0 0 5px 5px;
}

.pokemon-type h3 {
  display: flex;
  font-size: 1.5vw;
  background-color: rgba(255, 255, 255, 0.818);
  padding: 0.5vw 3vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  width: 11vw;
  height: 3vw;
  border-radius: 5px;
  box-shadow: 7px 4px 7px rgb(118, 119, 127);
}

#pokemon-card-collection {
  background-color: rgb(167, 53, 53);
  border: 0.75vw solid rgba(255, 255, 255, 0.818);
  border-radius: 5px;
  width: 75%;
  height: 50vh;
  margin: 4vw 12.5% 2vw 12.5%;
  display: flex;
  /* align-items: center; */
  justify-content: center;  
  flex-wrap: wrap;
  gap: 1.4vw;
  overflow: auto;
}

@media (max-width: 400px) {
  #pokemon-card-collection {
    gap: 0.6vw
  }
}

.pokemon-card {
  background-color: rgb(52, 50, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 8vw;
  height: 10vw;
  margin-top: 1vw;
  border-radius: 5%;
  box-shadow: 10px 8px 10px rgb(118, 119, 127);
}

.pokemon-card:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.818);
  box-shadow: 10px 8px 10px rgb(62, 62, 69);
}

.pokemon-card img {
  width: 85%;
}

.pokemon-card:hover img {
  width: 110%;
  
}

.pokemon-card h4 {
  font-size: 1.1vw;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.818);
}

.pokemon-card:hover h4 {
  color: rgb(52, 50, 59);
}

#h4-hidden {
  visibility: hidden;
}

h2#details-name {
  text-transform: capitalize;
}

button {
  font-size: 1.5vw;
  width: 7vw;
  height: 2.5vw;
}

footer{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.818);
}

footer a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.818);
}